<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div id="loginAlert" class="alert alert-danger" ng-show="main.error">
    There was a problem logging in. Please try again.
  </div>
  <form role="form" ng-submit="main.login()">
    <div class="row form-group">
       <span class="col-lg-1">
          <label for="username">Username:</label>
        </span>
      <span class="col-lg-4">
        <input type="text" class="form-control" id="username" name="username" ng-model="main.credentials.username" required/>
      </span>
    </div>
    <div class="row form-group">
      <span class="col-lg-1">
        <label for="password">Password:</label>
      </span>
      <span class="col-lg-4">
        <input type="password" class="form-control" id="password" name="password" ng-model="main.credentials.password" required/>
      </span>
    </div>
    <div class="row form-group">
      <span class="col-lg-5">
        <button type="submit" class="btn btn-primary pull-right" id="login" ng-disabled="!main.credentialsPresent()">Login</button>
      </span>
    </div>
  </form>

</div>
