<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div id="deletePetAlert" class="alert alert-info" ng-show="petSearch.deletePetSuccessful">
    Pet has been deleted.
  </div>

  <h1>Pet Search</h1>
  <form role="form" ng-submit="petSearch.search(petSearch.petId)">
    <div class="form-group">
      <input id="searchId" class="form-control input-lg" id="inputlg" type="text" placeholder="Please enter a pet id" ng-model="petSearch.petId"><br>
      <input id="search" class="input-lg" type="submit" id="submit" value="Submit" />
    </div>
  </form>
  <div class="input-lg" ng-show="petSearch.pet">
    <h1 class="row">Result:</h1>
    <div class="row" style="background: rgb(195, 197, 202)">
      <span>Id:</span>
      <span id="searchResultId">{{petSearch.pet.id}}</span>
    </div>
    <div class="row" style="background: rgb(221, 223, 231)">
      <span>Name:</span>
      <span id="searchResultName">{{petSearch.pet.name}}</span>
    </div>
    <div class="row" style="background: rgb(195, 197, 202)">
      <span>Description:</span>
      <span>{{petSearch.pet.description}}</span>
    </div>
    <div ng-if="petSearch.hasRole('ROLE_ADMIN')" class="row">
      <br>
      <button id="delete" type="button" class="btn-lg btn-danger" ng-click="petSearch.deletePet(petSearch.petId)">Delete</button>
    </div>
  </div>
  <div class="input-lg" ng-hide="petSearch.pet || !petSearch.searchExecuted">
    <h1 class="row">No Results Found</h1>
  </div>
</div>
