<div class="modal-header">
  <h3 id="title" class="modal-title">Are you sure you want to delete {{petDelete.pet.name}}?</h3>
</div>
<div class="modal-body ">
    <div>
      <span>Id:</span>
      <span>{{petDelete.pet.id}}</span>
    </div>
    <div>
      <span>Name:</span>
      <span>{{petDelete.pet.name}}</span>
    </div>
    <div>
      <span>Description:</span>
      <span>{{petDelete.pet.description}}</span>
    </div>
</div>
<div class="modal-footer">
  <button id="deleteModalButton" class="btn btn-danger" type="button" ng-click="petDelete.deletePet(petDelete.pet.id)">Delete</button>
  <button class="btn btn-info" type="button" ng-click="petDelete.cancel()">Cancel</button>
</div>
